<a href="https://colab.research.google.com/github/Gokuldas-dev/PYTHON-PRG-REPO/blob/main/Python_3_Tutorial_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**First Python Program **

In [1]:
print("I Love Pizza")

I Love Pizza

In [4]:
print("Its Really Good :)")

Its Really Good :)

**Variables**

In [5]:
age = 22
print(age)

22

In [6]:
age = 22
print("My age is :" ,age)

My age is : 22

In [8]:
age = 22
print("You are " + str(age) + " years old")

You are 22 years old

In [10]:
print("You are ",age," Years Old")

You are  22  Years Old

this is a new method using f and curly **braces**

In [11]:
print(f"You are {age} Years Old")

You are 22 Years Old

**Data Types in python**

Intigers,
Float,
Strings,
Booleans

In [12]:
#INTEGER TYPE

age = 22
players = 2
quantity = 5

print(f"You are {age} Years old")
print(f"There are {players} Players Online")
print(f"you would like to buy {quantity} Items")

You are 22 Years old
There are 2 Players Online
you would like to buy 5 Items

In [13]:
#FLOAT TYPE

gpa = 3.2
distance = 2.5
price = 10.99

print(f"Your Gpa is {gpa}")
print(f"You ran {distance} KM")
print(f"The price is ${price}")

Your Gpa is 3.2
You ran 2.5 KM
The price is $10.99

In [14]:
#STRINGS TYPE

name ="Gokuldas"
food = "Masala dosa"
email ="gokuldasshenoy2@gmail.com"

print(f"Hello {name}")
print(f"You like {food}")
print(f"Your Email is : {email}")

Hello Gokuldas
You like Masala dosa
Your Email is : gokuldasshenoy2@gmail.com

In [15]:
#BOOLEN TYPES

online = True
for_sales = False
running = True

print(f"Are You Online ? :{online}")
print(f"Is the Items for Sale ? :{for_sales}")
print(f"Game Running :{running}")

Are You Online ? :True
Is the Items for Sale ? :False
Game Running :True

In [16]:
if running :
  print("The Game is Running")
else :
  print("The Game is Over")

The Game is Running

In [18]:
x =1
y =2
z =3

print(x)
print(y)
print(z)

1
2
3

In [19]:
x,y,z = 1,2,3
print(x)
print(y)
print(z)

1
2
3

In [22]:
x = y = z = 5
print(x)
print(y)
print(z)

5
5
5

Type Casting The Process of Converting value of one datatype to another
(string ,Integer,Float , Boolean)
Explicit or Implicit
**bold text**

In [25]:
name = "Gokuldas"
age = 22
gpa = 7.9
student = True

print(type(name))
print(type(age))
print(type(gpa))
print(type(student))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [26]:
age = float(age)
print(f"My age is {age}")
print(type(age))

My age is 22.0
<class 'float'>

In [27]:
gpa = int(gpa)
print(f"My Gpa is  : {gpa}")
print(type(gpa))

My Gpa is  : 7
<class 'int'>

In [29]:
student = str(student)
print(f"Now Student is : {student}")
print(type(student))

Now Student is : True
<class 'str'>

In [32]:
age = bool(age)
print(age)
print(type(age))

True
<class 'bool'>

In [31]:
age = -1000
age = bool(age)
print(age)
print(type(age))

True
<class 'bool'>

In [33]:
age = 0
age = bool(age)
print(age)
print(type(age))

False
<class 'bool'>

In [35]:
x = 2
y = 2.0

x = x/y
print(x)
 #this is an implicit type casting
 #changing vlaue by it self

1.0

**User Input Using Python **

In [37]:
name = input("Enter Your name  :")
print(f"Hello {name}")

Enter Your name  :Gokuldas shenoy
Hello Gokuldas shenoy